
    <section id="home" class="video-hero js-fullheight" style="height: 500px; background-image: url(../../../../../assets/images/bg_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
			<div class="overlay js-fullheight"></div>
			<div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Events</span></p>
            <h1 class="mb-3 mt-0 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Events</h1>
          </div>
        </div>
      </div>
		</section>


		<section class="ftco-section ftco-section-2">
			<div class="container">
				<div class="row">
        <div class="col-md-9">
          <div class="row">

					<div *ngFor="let event of events" class="col-md-5 mt-5">
						<div class="event-entry d-flex ftco-animate">

    					<div class="text">
                <h3 class="mb-2"><a [routerLink]="['/event-details', event.eventId]">
                  {{event.eventTitle}}
                </a></h3>
                <p class="mb-4"> <span>{{ event.eventDate | date}} , {{event.location}}</span></p>
                <a [routerLink]="['/event-details', event.eventId]"
                 class="mb-4">
                 <img class="event-img" [src]="event.eventImage | SafeUrl" alt="">
                </a>
    						<p>{{event.eventShortDescription}}</p>
    					</div>
    				</div>
					</div>

        </div>

        <!-- <div class="row mt-5 justify-content-center">
            <div class="col text-center">
              <div class="block-27">
                <ul>
                  <li><a href="#">&lt;</a></li>
                  <li class="active"><span>1</span></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&gt;</a></li>
                </ul>
              </div>
            </div>
        </div> -->

        </div>

        <!-- ./col-md-9 -->

        <div class="col-md-3 sidebar order-first">
            <div class="sidebar-box">
              <div class="categories">
                <h3>Groups</h3>
                <li *ngFor="let group of eventGroups; let i = index"><a [ngClass]="{'group-active': activeIndex === i}"  (click)="activeIndex = i; onGroupClick(group.eventGroupId)">{{group.name}} <span>({{group.events.length}})</span></a></li>
              </div>
            </div>

          </div>

        </div>
			</div>
		</section>
