<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="logo">
            <a href="/">
              <!-- <i class="flaticon-cross">
              </i><span>CDAME</span><span>Church</span> -->
       <img class="logo-img" src="../../../../assets/logo.png" alt="logo">
      </a>
          </h2>
          <p>
              The unique gift of ministry that God has given us is to, in all we do, be devoted to Christian Witness:
              <br>
              Love God with all our heart, soul, and mind.
              <br>

              Love one another as Christ has loved us.
              <br>

              Love those "outside of the ark of safety", then WITNESS TO THEM ABOUT THE LOVE OF JESUS
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a [routerLink]="['/']" class="py-2 d-block">Home</a></li>
            <li><a [routerLink]="['/about']" class="py-2 d-block">About</a></li>
            <li><a [routerLink]="['/events']" class="py-2 d-block">Events</a></li>
            <li><a [routerLink]="['/blogs']" class="py-2 d-block">The Living Word</a></li>
            <li><a [routerLink]="['/contact']" class="py-2 d-block">Contact</a></li>
            <li><a [routerLink]="['/media']" class="py-2 d-block">Videos</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <div class="block-23 mb-3">
          <h2 class="ftco-heading-2">Contact Information</h2>

            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">P.O. Box 268
                Ladson, SC 29456</span>
              </li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">843.879.8176</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@cdame7.church</span></a>
              </li>

            </ul>
          </div>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
            class="icon-heart" aria-hidden="true"></i> by <a href="https://www.fiverr.com/herry0015"
            target="_blank">Herry</a>
        </p>
      </div>
    </div>
  </div>
</footer>
