<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <!-- <i class="flaticon-cross"></i>
       <span></span> <span>Church</span> -->
       <img class="logo-img" src="../../../../assets/logo.png" alt="logo">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item"><a [routerLink]="['/']"  class="nav-link">Home</a></li>
        <li class="nav-item"><a [routerLink]="['/about']" routerLinkActive="active"  class="nav-link">About</a></li>
        <li class="nav-item"><a [routerLink]="['/events']" routerLinkActive="active" class="nav-link">Events</a></li>
        <li class="nav-item"><a [routerLink]="['/blogs']" routerLinkActive="active" class="nav-link">The Living Word</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Auxiliaries
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a *ngFor="let g of groups" class="dropdown-item" [routerLink]="['/group', g.eventGroupId]" routerLinkActive="active" >{{g.name}}</a>
          </div>
        </li>
        <li class="nav-item"><a [routerLink]="['/media']" routerLinkActive="active" class="nav-link">Media</a></li>
        <li class="nav-item"><a [routerLink]="['/contact']" routerLinkActive="active" class="nav-link">Contact</a></li>

      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
