
    <section id="home" class="video-hero js-fullheight" style="height: 700px; background-image: url(../../../../../assets/images/bg_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
			<div class="overlay js-fullheight"></div>
			<div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
            <h1 class="mb-3 mt-0 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
          </div>
        </div>
      </div>
		</section>

		<section class="ftco-section-2">
      <div class="container-fluid">
        <div class="section-2-blocks-wrapper d-flex row no-gutters">
          <div class="img col-md-6 ftco-animate" style="background-image: url('../../../assets/images/about.jpg');">
            <a href="https://vimeo.com/45830194" class="button popup-vimeo"><span class="ion-ios-play"></span></a>
          </div>
          <div class="text col-md-6 ftco-animate">
            <div class="text-inner align-self-start">

              <h3>Loving God, Loving Others and Serving the World</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-counter" id="section-counter">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Church Achievements</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="20254">0</strong>
                <span>Churches around the world</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="4200000">0</strong>
                <span>Members around the globe</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="8600000">0</strong>
                <span>Save life &amp; Donations</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section-3 bg-light">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4 py-5 nav-link-wrap aside-stretch">
            <div class="nav ftco-animate flex-column nav-pills text-md-right" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active pr-5" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-master" role="tab" aria-controls="v-pills-mission" aria-selected="true">Mission</a>

              <a class="nav-link pr-5" id="v-pills-vission-tab" data-toggle="pill" href="#v-pills-buffet" role="tab" aria-controls="v-pills-vission" aria-selected="false">Vission</a>
            </div>
          </div>
          <div class="col-md-8 pt-5 pb-5 pl-md-5 d-flex align-items-center">

            <div class="tab-content ftco-animate pl-md-5" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
                <span class="icon mb-3 d-block flaticon-bed"></span>
                <h2 class="mb-4">Wisdom Church Mission</h2>
              	<p class="lead">"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
                <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>
              </div>

              <div class="tab-pane fade" id="v-pills-vission" role="tabpanel" aria-labelledby="v-pills-vission-tab">
                <span class="icon mb-3 d-block flaticon-tray"></span>
                <h2 class="mb-4">Wisdom Church Vission</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
                <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>
                <p><a href="#" class="btn btn-primary">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Our Pastors</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4 ftco-animate">
            <div class="block-10 d-md-flex align-items-center">
            	<div class="img" style="background-image: url(../../../assets/images/person_1.jpg)"></div>
              <div class="person-info pl-md-3">
                <span class="name">Thomas Smith</span>
                <span class="position">Pastor</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="block-10 d-md-flex align-items-center">
            	<div class="img" style="background-image: url(../../../assets/images/person_2.jpg)"></div>
              <div class="person-info pl-md-3">
                <span class="name">John Gibson</span>
                <span class="position">Pastor</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="block-10 d-md-flex align-items-center">
            	<div class="img" style="background-image: url(images/person_3.jpg)"></div>
              <div class="person-info pl-md-3">
                <span class="name">Angelo Maestro</span>
                <span class="position">Pastor</span>
              </div>
            </div>
          </div>
    		</div>
    	</div>
    </section>
