/* You can add global styles to this file, and also import other style files */


@import "~ngx-easy-table/style.scss";
/* for modal */
@import "~ngx-smart-modal/ngx-smart-modal";
/* regular style toast  */
@import '~ngx-toastr/toastr.css';



@media (max-width: 500px){
  .logo-img{
    background: #dcdcdc99;
      border-radius: 5px;
  }
}


.btn-gold{
  background: #f5b931;
  border: 2px solid #f7be3b;
  color:black;
}

.btn-gold:hover{
  background:none;
  border: 2px solid #f7be3b;
  color:black;

}
