

.event-img {
  /* height: 200px; */
  width: 100%;
}

.event-entry .text {
  width: calc(100% - 0px);
  padding: 10px
}

.event-cont {
  padding-top: 5%;
  margin: auto;
}

.event-box{
  box-shadow: 0px 3px 11px 0px #02259054;
}
