 <section id="home" class="video-hero js-fullheight" style="height: 500px; background-image: url(../../../../../assets/images/bg_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
  <div class="overlay js-fullheight"></div>
  <div data-aos="fade-up" data-aos-duration="1000" class="container church-banner-text">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-10 ftco-animate text-center">
        <h1 class="mb-4"><strong>Charleston District of African Methodist Episcopal Church</strong></h1>

      </div>
    </div>
  </div>
</section>


<section class="ftco-section-2">
    <div class="container-fluid">
      <div data-aos="zoom-in" data-aos-duration="1500" class="section-2-blocks-wrapper d-flex row no-gutters">
        <div class="img col-md-4 elder-img" style="background-image: url('../../../assets/black.jpg');">
        </div>
        <div class="text col-md-8 ftco-animate">
          <div class="text-inner align-self-start">

            <h3>From the Presiding Elder's Desk</h3>
          <p>


            We give God thanks for providing us with an instrument to reach people with the message of Jesus Christ.
            Each church and each component ministry will actively use the Charleston District website to share the Gospel and give witness to our engaged ministries.
            I want to thank The Reverend Andre Thornhill, Pastor of Ebenezer, Lincolnville for spearheading the Charleston District website project.
            We thank him for his efforts that will only enhance the ministries of the Charleston District. We look forward to daily, weekly and monthly post related to the work of ministry and community activities.
            Thanks be unto God!
          </p>

          <hr width="50%">
          <p class="text-center">Blessings, Allen Parrott, PE</p>
          </div>
        </div>
      </div>
    </div>
  </section>



<section  class="hide-on-init ftco-bible-study mt-5">
  <div class="container-wrap">
    <div class="col-md-12 wrap">
      <div class="container">
        <div data-aos="zoom-in" data-aos-once="true" data-aos-duration="2000" class="row">
          <div class="col-md-12 d-md-flex">
            <div class="one-forth ftco-animate">
              <h3>Next Event</h3>
              <p>{{latestEvents.eventTitle}}</p>
              <p style="color: #a2a2a2;">{{ latestEvents.eventDate | date: 'medium' }} {{latestEvents.location}} {{latestEvents.eventShortDescription}}</p>
            </div>
            <div class="one-half d-md-flex align-items-md-center ftco-animate">
              <div class="countdown-wrap">
                <p class="countdown d-flex">
                        <!-- <countdown-timer [end]="latestEvents.eventDate| date : 'yyyy-MM-dd HH:mm:ss'"></countdown-timer> -->
                    <countdown units="Days | Hours | Minutes | Seconds"  end="{{latestEvents.eventDate | date : 'medium'}}"></countdown>
                </p>
              </div>
              <div class="button">
                <p><a [routerLink]="['/event-details',latestEvents?.eventId]"  class="btn btn-gold p-3">Events Details</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<section class="ftco-section ftco-counter" id="section-counter">
  <div class="container">
    <div class="row justify-content-center">
      <div data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1000"
       class="col-md-7 text-center heading-section">
        <h2>Church Achievements</h2>
        <p>THE CHARLESTON DISTRICT HAS ACHIEVED SO MANY MILESTONES; A TESTAMENT TO THE PARTNERSHIP OF 27 CHURCHES</p>
      </div>
    </div>
    <div data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="1000" class="row">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div  class="text">
            <strong  class="number" [countUp]="27">0</strong>
            <span>Churches</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" [countUp]="8153">0</strong>
            <span>Members</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div  class="text">
            <strong class="number" [countUp]="totalEvents">0</strong>
            <span>Events and Programs</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section   class="ftco-section">
  <div class="container">
    <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="500" class="row justify-content-center">
      <div class="col-md-6 text-center heading-section ftco-animate">
        <span class="subheading">Our Services</span>
        <h2 class="mb-4">God is EveryWhere</h2>
        <p>Praise the Lord and Fellowship with the Saints at one of our 27 churches</p>
      </div>
    </div>
 <!--    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div *ngFor="let c of cars" class="d-flex align-self-stretch swiper-slide">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-planet-earth"></span></div></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading"> Adams AME Church </h3>
              <p>5300 Dorchester Rd, North Charleston, SC 29418</p>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper> -->

    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let item of locations;let i = index">
        <ng-template carouselSlide [id]="item.id">
          <div class="d-flex">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-planet-earth"></span></div></div>
              <div class="media-body p-2 mt-3">
                <a href="{{item.link}}" target="blank">
                <h3 class="heading"> {{item.name}}</h3>
                </a>
                <p>{{item.location}}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
</section>

 <section class="ftco-section testimony-section bg-light">
    <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="1000" class="container">
      <div
       class="row justify-content-center">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">Watch, Read, Get Inspired, and Share Our Story</span>
          <h2 class="mb-4">Many Members, One Body</h2>
          <p>The Charleston District has several auxiliary ministries dedicated to edifying of all God's people</p>
        </div>
      </div>

          <owl-carousel-o  [options]="customOptions">

              <ng-container *ngFor="let g of groups;let i = index">
                <ng-template carouselSlide [id]="i">
                    <div class="item text-center">
                        <div class="testimony-wrap p-4">
                          <div  [routerLink]="['/group', g.eventGroupId, g.name]" class="user-img mb-4" [style.background-image]="'url(' + g.image + ')'| SafeUrl">
                            <span class="quote d-flex align-items-center justify-content-center">
                              <i class="icon-users"></i>
                            </span>
                          </div>
                          <div class="text">
                            <p class="mb-3">{{g.description}}</p>
                            <h5  [routerLink]="['/group', g.eventGroupId, g.name]" class="name">{{g.name}}</h5>
                            <span class="position"> Auxiliaries </span>
                          </div>
                        </div>
                      </div>
                </ng-template>
              </ng-container>

            </owl-carousel-o>
        </div>

  </section>












<section  class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="1000" class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Subcribe to our Newsletter</h2>
          <p>Enter your email below to get the latest updates </p>
          <div class="row d-flex justify-content-center mt-5em">
            <div class="col-md-6">
              <form #newsFrom="ngForm" (ngSubmit)="addNewsLetter()" class="subscribe-form">
                <div class="form-group">

                  <span class="icon icon-paper-plane"></span>
                  <input [(ngModel)]="newsLetterModel.email" name="email" type="text" class="form-control" placeholder="Enter email address">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters justify-content-center mb-5 pb-5">
      <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="1000" class="col-md-7 text-center heading-section ftco-animate"><span class="subheading">Events</span>
        <h2 class="mb-4">Watch our Events</h2>
      </div>
    </div>
    <div class="row">
        <div *ngFor="let m of media" class="col-md-4">
            <div  class="sermons event-video-block">
              <video class="video" controls>
                  <source [src]="m.video" type="video/mp4">
                Your browser does not support the video tag.
                </video>
              <div class="text">
                <h3><a href="#">{{m.title}}</a></h3>
                <span class="position">{{m.description}}</span>
              </div>
            </div>
          </div>
    </div>
    <div class="row mt-1">
      <div class="col text-center">
        <p><a [routerLink]="['/events']" class="btn btn btn-gold btn-outline-gold p-3">Watch all Events</a></p>
      </div>
    </div>
  </div>
</section>



<section class="ftco-section-2 bg-light">
  <div class="container-fluid">
    <div data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1200" class="row no-gutters d-flex">
      <div class="col-md-6 img d-flex justify-content-end align-items-center" style="background-image: url(../../../assets/images/event.jpg);">
        <div class="col-md-7 heading-section text-sm-center text-md-right heading-section-white ftco-animate mr-md-5 mt-md-5">
          <h2>Our latest events</h2>
          <p>{{ latestEvents.eventDate | date: 'medium' }} {{latestEvents.eventShortDescription}}</p>
          <p><a [routerLink]="['/events']"  class="btn btn-success py-3 px-4">View Events</a></p>
        </div>
      </div>
      <div *ngFor="let event of events.slice(0, 2)" class="col-md-2 event-cont">
        <div class="event-box">
          <div class="event-entry d-flex ftco-animate">
            <div class="text">
              <h3 class="mb-2"><a [routerLink]="['/event-details', event.eventId]"
                  >{{event.eventTitle}}</a></h3>
              <p class="mb-2"><span>{{event.eventDate | date}}, {{event.location}}</span></p>
              <a [routerLink]="['/event-details', event.eventId]">

               <img class="event-img" [src]="event.eventImage" alt="">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
 <div data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1200" class="container">
    <div class="row justify-content-center mb-1">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Blogs</span>
        <h2>The Living Word</h2>
        <p>God's Word for God's People</p>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let blog of blogs" class="col-md-3 ftco-animate">
        <div class="blog-entry">
          <a [routerLink]="['/blog-details',blog.blogId]"  class="block-20" [style.background-image]="'url('+ blog.blogImage +')'| SafeUrl">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="#">{{blog?.createdAt |  date}}</a></div>
            </div>
            <h3 class="heading"><a href="#">{{blog.blogTitle}}</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--


<section id="home" class="video-hero js-fullheight" style="height: 500px; background-image: url(../../../../../assets/images/bg_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
  <div class="overlay js-fullheight"></div>
  <a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=5m--ptwd_iI',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:false, startAt:0, opacity:1, quality:'default'}"></a>
  <div data-aos="fade-up" data-aos-duration="1000" class="container" style="padding-top: 250px;">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-10 ftco-animate text-center">
        <h1 class="mb-4"><strong>Charleston District of African Methodist Episcopal Church</strong></h1>

      </div>
    </div>
  </div>
</section>

<section  class="hide-on-init ftco-bible-study">
  <div class="container-wrap">
    <div class="col-md-12 wrap">
      <div class="container">
        <div data-aos="zoom-in" data-aos-once="true" data-aos-duration="2000" class="row">
          <div class="col-md-12 d-md-flex">
            <div class="one-forth ftco-animate">
              <h3>Next Event</h3>
              <p>GRIEF MINISTRY SEMINAR.</p>
              <p> Thursday, July18, 2019 – 10:45 AM – 11:45 AM
                  Bethel AME Church, Summerville, SC
                  Rev. Lorraine Bradley, Pastor
                  Session I 10:30 AM – 11:20 AM
                  Lunch 11:30 AM – 12:15 PM
                  Session II 12:25 PM – 1:15 PM
                </p>
            </div>
            <div class="one-half d-md-flex align-items-md-center ftco-animate">
              <div class="countdown-wrap">
                <p class="countdown d-flex">

              <countdown units="Month | Days | Hours | Minutes | Seconds"  end="July 22, 2019"></countdown>
                </p>
              </div>
              <div class="button">
                <p><a href="#" class="btn btn-gold p-3">Events Details</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section  class="hide-on-init ftco-section-2 mt-20">
  <div class="container-fluid">
    <div data-aos="zoom-in" data-aos-duration="2000" class="section-2-blocks-wrapper d-flex row no-gutters">
      <div class="img col-md-6 ftco-animate" style="background-image: url('../../../../../assets/images/about.jpg');">
        <a style="display: none;" href="https://vimeo.com/45830194" class="button popup-vimeo"><span class="ion-ios-play"></span></a>
      </div>
      <div class="text col-md-6 ftco-animate">
        <div class="text-inner align-self-start">

          <h3>Loving God, Loving Others and Serving the World</h3>
          <p>The church was founded as the Hampstead Church on Reid and Hanover streets in 1815 or 1816 or 1817 or 1818 by African Americans who were former members of Charleston's three Methodist Episcopal churches.</p>

          <p>Hampstead Church was part of the "Bethel circuit" of the African Methodist Episcopal Church, the first independent black denomination in the United States, founded in Philadelphia, Pennsylvania in 1816 by Richard Allen. They created an independent congregation because of a dispute over use of the black burial ground.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section   class="ftco-section">
  <div class="container">
    <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="500" class="row justify-content-center">
      <div class="col-md-6 text-center heading-section ftco-animate mt-5em">
        <span class="subheading">Our Services</span>
        <h2 class="mb-4">God is Everywhere</h2>
        <p>For Serving Love, Hope, & Peace, CDAME at 27 Places </p>
      </div>
    </div>



    <swiper [config]="config">
      <div class="swiper-wrapper">

        <div *ngFor="let c of cars" class="d-flex align-self-stretch swiper-slide">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-planet-earth"></span></div></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading"> Adams AME Church </h3>
              <p>5300 Dorchester Rd, North Charleston, SC 29418</p>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>
</section>

<section  class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="1000" class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Subcribe to our Newsletter</h2>
          <p>Just Enter your email below and get udated with CDAME7</p>
          <div class="row d-flex justify-content-center mt-5em">
            <div class="col-md-6">
              <form action="#" class="subscribe-form">
                <div class="form-group">
                  <span class="icon icon-paper-plane"></span>
                  <input type="text" class="form-control" placeholder="Enter email address">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section   class="ftco-section">
  <div class="container">
    <div class="row no-gutters justify-content-center mt-5em">
      <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="1000" class="col-md-7 text-center heading-section ftco-animate"><span class="subheading">Events</span>
        <h2 class="mb-4">Watch our Events</h2>
      </div>
    </div>
    <div data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="500" class="row">
      <div class="col-md-4">
        <div  class="sermons">
          <a href="https://vimeo.com/45830194" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url(../../../../../assets/images/sermons-1.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-play"></span>
            </div>
          </a>
          <div class="text">
            <h3><a href="#">Be at Peace With One Another</a></h3>
            <span class="position">Pastor. Joseph Meyer</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="sermons">
          <a href="https://vimeo.com/45830194" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url(../../../../../assets/images/sermons-2.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-play"></span>
            </div>
          </a>
          <div class="text">
            <h3><a href="#">Inspirational Message of God</a></h3>
            <span class="position">Pastor. Joseph Meyer</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="sermons">
          <a href="https://vimeo.com/45830194" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url(../../../../../assets/images/sermons-3.jpg);">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-play"></span>
            </div>
          </a>
          <div class="text">
            <h3><a href="#">Prayers, Presence, and Provision</a></h3>
            <span class="position">Dave Zuleger</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col text-center">
        <p><a href="#" class="btn btn-gold p-3">Watch all Events</a></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section bg-light">
    <div class="container">
      <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="1000"
       class="row justify-content-center">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">Watch, Read, Get Inspired, and Share Our Story</span>
          <h2 class="mb-4">Many Groups, One Family</h2>
          <p>CDAME Chruch has Many groups, lots of religious Events, but still we are ONE STRONG FAMILY</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="carousel-testimony owl-carousel ftco-owl">
            <div class="item text-center">
              <div class="testimony-wrap p-4">
                <div class="user-img mb-4" style="background-image: url(../../../../../assets/images/person_1.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">DOS</p>
                  <span class="position">Church Group</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4">
                <div class="user-img mb-4" style="background-image: url(../../../../../assets/images/person_2.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">SOA</p>
                  <span class="position">Church Group</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4">
                <div class="user-img mb-4" style="background-image: url(../../../../../assets/images/person_3.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">LAY</p>
                  <span class="position">Church group</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-2">
                <div class="user-img mb-4" style="background-image: url(../../../../../assets/images/person_1.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">YPD</p>
                  <span class="position">Church Group</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-2">
                <div class="user-img mb-4" style="background-image: url(../../../../../assets/images/person_1.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name"> WMS</p>
                  <span class="position">Church Group</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="ftco-section ftco-counter" id="section-counter">
  <div class="container">
    <div class="row justify-content-center">
      <div data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1000"
       class="col-md-7 text-center heading-section">
        <h2>Church Achievements</h2>
        <p>CDAME CHURCH ACHIVED SO MANY MILESTONE AND SERVING AT 27 PLACES RIGHT NOW. </p>
      </div>
    </div>
    <div data-aos="zoom-in-up" data-aos-duration="1500" data-aos-delay="1000" class="row">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div  class="text">
            <strong  class="number" [countUp]="27">0</strong>
            <span>Churches around the world</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" [countUp]="500">0</strong>
            <span>Members around the globe</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 text-center">
          <div  class="text">
            <strong class="number" [countUp]="345">0</strong>
            <span>Total Religious Events</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-2 bg-light">
  <div class="container-fluid">
    <div data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1200" class="row no-gutters d-flex">
      <div  class="col-md-6 img d-flex justify-content-end align-items-center" style="background-image: url(../../../../../assets/images/event.jpg);">
        <div class="col-md-7 heading-section text-sm-center text-md-right heading-section-white ftco-animate mr-md-5 mt-md-5">
          <h2>Our latest events</h2>
          <p>Recently We Helf an Very divine Event on 15-Jul-19 at city hall, NY. People Joined and found peace and love
            </p>
          <p><a href="#" class="btn btn-gold py-3 px-4">View Events</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="event-wrap">
          <div class="event-entry d-flex ftco-animate">
            <div class="meta mr-4">
              <p>
                <span>07</span>
                <span>Aug 2019</span>
              </p>
            </div>
            <div class="text">
              <h3 class="mb-2"><a href="events.html">Saturday's Bible Reading</a></h3>
              <p class="mb-4"><span>9:00am at 456 NC USA</span></p>
              <a href="events.html" class="img" style="background-image: url(../../../../../assets/images/event-1.jpg);"></a>
            </div>
          </div>
          <div class="event-entry d-flex ftco-animate">
            <div class="meta mr-4">
              <p>
                <span>07</span>
                <span>Aug 2019</span>
              </p>
            </div>
            <div class="text">
              <h3 class="mb-2"><a href="events.html">Wednesday Gospel Singing</a></h3>
              <p class="mb-4"><span>9:00am at 456 NC USA</span></p>
              <a href="events.html" class="img" style="background-image: url(../../../../../assets/images/event-2.jpg);"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section mt-5em">
  <div data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1200" class="container">
    <div class="row justify-content-center mb-1">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Blog</span>
        <h2>Church Family Blog</h2>
        <p>You can read, write about your religious experience and Share it.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../../../../assets/images/image_1.jpg');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="#">July 12, 2019</a></div>
              <div><a href="#">Jonny </a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
            <h3 class="heading"><a href="#">I feel very Divine and My life came postive never before</a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="blog-entry" data-aos-delay="100">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../../../../assets/images/image_2.jpg');">
          </a>
          <div class="text p-4">
            <div class="meta mb-3">
              <div><a href="#">July 15, 2019</a></div>
              <div><a href="#">Sophia</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
            <h3 class="heading"><a href="#">After a Long time my heart feel very peaceful. </a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="blog-entry" data-aos-delay="200">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../../../../assets/images/image_3.jpg');">
          </a>
          <div class="text p-4">
            <div class="meta mb-3">
              <div><a href="#">July 17, 2019</a></div>
              <div><a href="#">Sheran</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
            <h3 class="heading"><a href="#">Join Religious Event for feel like out of world</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

