

.event-img {
  /* height: 200px; */
  max-width: 100%;

}

.event-entry .text {
  width: calc(100% - 0px);
  padding: 10px
}

.event-cont {
  padding-top: 5%;
  margin: auto;
}

.event-box{
  box-shadow: 0px 3px 11px 0px #02259054;
}


.block-20{
  height: 150px;;
}


.ftco-bible-study .wrap {
  background: #1437e2c4;
}




:host ::ng-deep  .ui-carousel .ui-carousel-header{
  display: none;
}

 .ui-carousel-items .ui-carousel-item {
  border: none
}



.video-hero .overlay {
  opacity: 0.2;
}


.ftco-bible-study {
  margin-top: 0px;
}

.ftco-bible-study .wrap {
  background: #1437e2;
}


.mt-20{
  /* margin-top: 0px; */
}

.mt-5em{
  margin-top: 5em;
}

:host ::ng-deep  .measurements {
  color: white;
  margin-right: 5px;
  text-align : center;
  padding: 10px;
  font-size: larger;
}


:host ::ng-deep .ftco-bible-study .countdown  {
  padding: 0 5px;
}




.fa {
  color: black;
  font-size: 35px;
}
:host ::ng-deep .ng2-carouselamos-wrapper{
  width: 100%;
}


:host ::ng-deep  swiper {
  height: 300px;
  width: 100%;
}

:host ::ng-deep .swiper-wrapper {
  box-sizing: border-box;
}

.elder-img{
  background-size: 100% 100%;
}

.event-video-block{
 box-shadow:  1px 1px 10px 0px #808080bf;
}


.video{
  width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: -100;
}


@media (min-width: 768px){

  .church-banner-text {
    padding-top: 250px;
  }
  :host ::ng-deep .measurements-text {
    font-size: 17px;
  }

  :host ::ng-deep .measurements-number {
    font-size: 35px;
  }

}

@media (max-width: 500px){

  :host ::ng-deep .countdown{
    font-size: 12px;

  }

  .church-banner-text {
    padding-top: 150px;
  }
}





/* background: rgba(39,62,84,0.82);
overflow: hidden;
height: 100%;
z-index: 2; */


@media (min-width: 768px){
.ftco-section-2 .section-2-blocks-wrapper .text {
    padding: 3% 5%;
}
}



.testimony-wrap .user-img .quote i {
  color: #f4e316;
}


.testimony-wrap .user-img .quote {
  background: #1437e2;
}
