<!-- ############ Main START-->
<div class="">
    <div class="p-3 light lt box-shadow-0 d-flex">
      <div class="flex">
        <h1 class="text-md mb-1 _400">Welcome back</h1>
      </div>
      <div>
        <small class="text-muted d-block">Status</small>
        <div class="mb-1 peity" data-plugin="peity" data-title="Status" data-option="
  'bar',
  {
  height: 20,
  width: 60,
  fill: [app.color.primary]
  }">56,32,21,16,25,23,42,24,6,10,44,27,34,52,54,59,61,68,78
        </div>
      </div>
    </div>

    <div class="nav-active-border b-theme px-4 px-md-5">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Dashboard
          </a>
        </li>

      </ul>
    </div>
  </div>

  <!-- ############ Main END-->
